@import "tailwindcss";
@theme {
  --font-heading: "Poppins", "sans-serif";
  --font-body: "Open Sans", "sans-serif";
  --font-arabic: "Cairo", "sans-serif";
  --color-maher-primary: #2e2e2e;
  --color-maher-accent: #5ce1e6;
  --color-maher-light: #f1f5f9;
}
