@import "tailwindcss";
@theme {
  --font-heading: "Poppins", "sans-serif";
  --font-body: "Open Sans", "sans-serif";
  --font-arabic: "Cairo", "sans-serif";
  --color-maher-primary: #1e1e2f;
  --color-maher-accent: #00d1b2;
  --color-maher-light: #f1f5f9;
}
